<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ActiveMQ_URI" value="failover:(tcp://192.168.1.2:61616)"/>
    <add key="ActiveMQ_QueueName" value="IRAPDCS_MEQ"/>
    <add key="WriteLog" value="true"/>
    <add key="Virtual Station Used" value="true"/>
    <add key="Virtual Station" value="60010MDV1101007"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding
          name="NetTcpBinding_IServiceIRAPGlobal"
          maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint
        address="net.tcp://192.168.1.2:16009/IRAP"
        binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal"
        contract="IRAPWCFClient.IServiceIRAPGlobal"
        name="NetTcpBinding_IServiceIRAPGlobal" />
    </client>
  </system.serviceModel>
</configuration>