<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <appSettings>
    <add key="ConnectionString" value="Server=192.168.1.2;initial catalog=IRAP;UID=sa;Password=CyprMes571;Min Pool Size=2;Max Pool Size=60;"/>
    <!--<add key="ConnectionString" value="Server=192.168.57.221;initial catalog=IRAP;UID=sa;Password=irap!209420;Min Pool Size=2;Max Pool Size=60;"/>-->
  </appSettings>
</configuration>