@{
    ViewBag.title = "产品检验";
    Layout = "~/Areas/MESPDC/Views/Shared/_Layout.cshtml";
}
<style>
    .container{
        width:100%;
    }
    body{
        overflow-y:hidden
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border: 1px solid #004E75;
    }
    li:hover {
        cursor: pointer;
        background-color: #c0d9f2  !important;
    }
    /*鼠标点击后样式*/
    /*li:visited {
     
        background-color: #c0d9f2;
    }*/
    .glyphicon {
        font-family: "Glyphicons Halflings";
        -webkit-font-smoothing: antialiased;
        font-style:normal;
        font-weight:normal;
        line-height:1;
    }
    *, *::before, *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
</style>

@*<script src="~/Areas/MESPDC/Scripts/jquery-2.1.1.min.js"></script>*@
@*<script src="~/Areas/MESPDC/Scripts/jquery-1.11.3.min.js"></script>*@

<script src="~/Areas/MESPDC/Scripts/ProductTest/ProductTest.js"></script>

    <div class="container" style="">
        <div class="panel panel-primary" style="margin-top:1%;">
            <div class="panel-heading">
                <h3 class="panel-title">查询条件</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1" style="text-align:right;width:5%">
                        <label> 产线</label>
                    </div>
                    <div class="col-md-2" style="width:14%">
                        <select id="ProLine" class="form-control input-sm" style="width:260px" onchange="selectOnchang(this)" ></select>
                        @*<select id="usertype" name="usertype" class="selectpicker show-tick form-control" multiple data-live-search="false" style="width:200px">

                            </select>*@
                    </div>
                    <div class="col-md-1" style="text-align: right; width: 5%">
                        <label>工序</label>
                    </div>
                    <div class="col-md-2" style="width:14%">
                        <select id="process" class="form-control input-sm" style="width:260px" onchange="selectype()">...</select>
                        @*<select id="usertype" name="usertype" class="selectpicker show-tick form-control" multiple data-live-search="false"></select>*@
                    </div>
                    <div class="col-md-1" style="text-align: right; width: 8%">
                        <label>检验类型</label>
                    </div>
                    <div class="col-md-2" style="width:14%">
                        <select id="checktype" class="form-control input-sm" style="width:200px"></select>
                    </div>

                    <div class="col-md-2" style="text-align:center">
                        <button type="button" class="btn btn-primary" onclick="Search()">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary" >
                    <div class="panel-heading">
                        <h3 class="panel-title">工单列表</h3>
                     
                    </div>
                    <div class="panel-body" style="height:100%" >
                            <div style=" height: 30px;">@*<div style="float:left;width:100px;padding:5px"></div>*@<span style="float: left; padding: 5px">工单号：</span><input id="ordertext" class="form-control input-sm" type="text" placeholder="请输入工单号，方便筛选" style="width:260px;text-align:left" onkeypress="GetKey()" ></div>
                            <div style="height:660px;overflow-y:auto;margin-top:5%">
                                <div class="list-group">
                                    <a href="#" class="list-group-item" style="background-color:#DDDDDD; ">
                                        <h5 class="list-group-item-heading" style="float:left">
                                            工单号   
                                        </h5>
                                        <h5 class="list-group-item-heading" style="float:left;margin-left:26%">
                                            产品名称
                                        </h5>
                                        <h5 class="list-group-item-heading" style="margin-left:85%">  工单状态   </h5>
                                    </a>
                               
                                </div>


                               <ul class="list-group" id="order">

                               </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">详细信息</h3>
                    </div>
                    <div class="row" style="width: 100%; height: 30px; margin-left: 0px; margin-right: 0px">
                        <div class="col-md-8" style="">
                            @*border: 1px solid #808080;*@
                            <div style="width:45px;float:left;margin:5px;">可用：</div>
                            <div style="float: left; width: 20px; height: 20px; background-color: #FFF8DC; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; "></div>
                            <div style="width:60px; float:left;margin:5px">不可用：</div>
                            <div style="float: left; width: 20px; height: 20px; background-color: #A99EA5; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; "></div>
                            <div style="width:45px; float:left;margin:5px">合格：</div>
                            <div style="float: left; width: 20px; height: 20px; background-color: #6DF96F; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; "></div>
                            <div style="width:60px; float:left;margin:5px">不合格：</div>
                            <div style="float: left; width: 20px; height: 20px; background-color: #FFBB00; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; "></div>
                        </div>
                    </div>
                   
                    <div class="panel-body" >
                        <div style="height:685px">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#home" data-toggle="tab" id="tab1_li" style="background-color:#3A6BFD;color:white" onclick="">tab1</a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" id="tab2_li" style="background-color:#808080;color:white" onclick="">tab2</a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" id="tab3_li" style="background-color: #FFBB00; color: white;" onclick="">tab3</a>
                                </li>

                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <p>你好我是tab1。</p>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <p>你好我是tab2。</p>
                                </div>
                                <div class="tab-pane fade" id="tab3">
                                    <p>你是我是tb3。</p>
                                </div>
                                <div class="row" style="float:right;margin-right:20%">
                                    <div class="col-md-4"><button type="button" class="btn btn-primary">保存</button></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
         </div>
   
    </div>

