<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding 
          name="WCFBinding"
          openTimeout="00:02:00"
          receiveTimeout="00:03:00"
          sendTimeout="00:03:00"
          maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647"
          maxConnections="100"
          maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="IRAP.General.Server.Library.ServiceIRAPGeneral" behaviorConfiguration="GetMetaData">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:16910/IRAP"/>
            <add baseAddress="net.tcp://localhost:16010/IRAP"/>
          </baseAddresses>
        </host>
        <endpoint address="" bindingConfiguration="WCFBinding" binding="netTcpBinding" contract="IRAP.Interface.Global.IServiceIRAPGlobal"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="GetMetaData">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
