<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Virtual Station Used" value="true"/>
    <add key="Virtual Station" value="606720955960"/>
    <!--
      <add key="Environment" value="FVSCell"/>  表示线边客户端
      <add key="Environment" value="KPIDashboard"/> 表示车间客户端
    -->
    <add key="Environment" value="KPIDashboard"/>
    <add key="UpgradeURL" value="http://192.168.97.197:30000/IRAP/Upgrade/6.1/PC/LSSIVO/upgrade.xml"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceIRAPGlobal" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.97.197:16011/IRAP" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal" name="NetTcpBinding_IServiceIRAPGlobal" />
    </client>
  </system.serviceModel>
</configuration>