<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Virtual Station Used" value="true"/>
    <add key="Virtual Station" value="C8FF28B5AD91"/>
    <!--<add key="Virtual Station" value="04501001"/>-->
    <!--
      <add key="Environment" value="FVSCell">  表示线边客户端
      <add key="Environment" value="KPIDashboard"> 表示车间客户端
    -->
    <add key="Environment" value="FVSCell"/>
    <add key="UpgradeURLx" value="http://192.168.97.197:30000/IRAP/Upgrade/6.1/PC/LSSIVO/upgrade.xml"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceIRAPGlobal" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://192.168.1.2:16009/IRAP" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal" name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <!--<endpoint address="net.tcp://127.0.0.1:16010/IRAP" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal" name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <endpoint address="net.tcp://192.168.97.197:16011/IRAP" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal" name="NetTcpBinding_IServiceIRAPGlobal" />
    </client>
  </system.serviceModel>
</configuration>