<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WriteLog" value="true"/>
    <add key="ActiveMQ_URI" value="tcp://10.66.150.235:61616" />
    <add key="ActiveMQ_QueueName" value="IRAPMethodParamCollection"/>
    <add key="ConnectionString" value="Server=10.66.178.50;initial catalog=IRAP;UID=sa;Password=irap!209420;Min Pool Size=2;Max Pool Size=60;"/>
  </appSettings>
</configuration>