<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UpgradeURL" value="" />
    <add key="WriteLog" value="True" />
    <add key="ActiveMQ_URI" value="tcp://192.168.57.219:61616" />
    <add key="ActiveMQ_QueueName" value="FVS2TPM" />
    <add key="Filter string" value="192.168.97.243" />
    <add key="ExCode" value="SendSMS" />
    <add key="Local file location" value="D:\Temp" />
    <add key="Local file name" value="[CorrelationID]-[ExCode]-[DateTime]" />
    <add key="Local file type" value="XML 文件" />
    <add key="Xml root node name" value="GLOBAL" />
  </appSettings>
</configuration>