<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="SocketListenPort" value="30000"/>
    <add key="MaxConnection" value="100"/>
    <add key="WriteLog" value="true"/>
    <add key="ActiveMQ_BrokerUri" value="tcp://192.168.57.208:61616"/>
    <add key="ActiveMQ_QueueName" value="firstQueue"/>
  </appSettings>
</configuration>
