<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="CommunityID" value="60010"/>
    <add key="SocketListenPort" value="30000"/>
    <add key="MaxConnection" value="100"/>
    <add key="WriteLog" value="true"/>
    <add key="ActiveMQ_BrokerUri" value="tcp://192.168.57.208:61616"/>
    <add key="ActiveMQ_QueueName" value="firstQueue"/>
    <!--DCS WebService地址-->
    <add key="WebServiceURL" value="http://192.168.57.221:8015/IRAPUESWebService.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceIRAPGlobal">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:16010/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />
    </client>
  </system.serviceModel>
</configuration>
