<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SetupValue" type="System.Configuration.DictionarySectionHandler"/>
    <section name="SetupParam" type="System.Configuration.SingleTagSectionHandler"/>
  </configSections>

  <appSettings>
    <!--1-MSSQL 2-Oracle 3-Mysql 4-PostgreSql -->
    <add key="DBType" value="1"/>
    <add key="SeqServerAddr" value="192.168.1.210"/>
    <!--MES数据库地址-->
    <add key="ConnectionString" value="Server=127.0.0.1;initial catalog=IRAPDWforHF;UID=sa;Password=123456;Min Pool Size=2;Max Pool Size=60;"/>  
  </appSettings>

  <SetupValue>
    <add key="NextTransactNo" value="1"/>
  </SetupValue>

  <SetupParam SaveInterval="5" logFileDir="F:\\"/>
  
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
