<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WriteLog" value="true"/>
    <add key="UpgradeURL" value="http://10.66.178.50/IRAP/Upgrade/6.1/PC/PrinterServer/upgrade.xml"/>
    <add key="ActiveMQ_URI" value="tcp://192.168.1.2:61616" />
    <add key="ActiveMQ_QueueName" value="SCESPrint"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceIRAPGlobal" 
                 maxBufferPoolSize="2147483647" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6553500" 
                        maxStringContentLength="2147483647"
                        maxArrayLength="6553500"
                        maxBytesPerRead="6553500"
                        maxNameTableCharCount="6553500"/>
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://192.168.101.253:16011/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <!--<endpoint address="net.tcp://192.168.97.197:16011/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <!--<endpoint address="net.tcp://127.0.0.1:16010/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <!--<endpoint address="net.tcp://192.168.101.252:16011/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <!--<endpoint address="net.tcp://10.66.178.50:16010/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <!--<endpoint address="net.tcp://10.66.150.235:16010/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <endpoint address="net.tcp://192.168.1.2:16009/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />
    </client>
  </system.serviceModel>
</configuration>