<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding 
          name="NetTcpBinding_IServiceIRAPGlobal" 
          maxBufferPoolSize="2147483647" 
          maxBufferSize="2147483647" 
          maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint 
        address="net.tcp://localhost:16010/IRAP" 
        binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" 
        contract="IRAPWCFClient.IServiceIRAPGlobal"
        name="NetTcpBinding_IServiceIRAPGlobal" />
    </client>
  </system.serviceModel>
</configuration>
