<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBAddress" value="192.168.97.234" />
    <add key="DBUserID" value="sa" />
    <add key="DBUserPWD" value="pause!0510" />
    <add key="DBName" value="IRAPDWforMES" />
    <add key="RefreshTimeSpan" value="500" />
    <add key="StationID" value="PLAYER001" />
    <add key="ITC Server Address" value="192.168.254.15" />
    <add key="ITC Server UserID" value="admin" />
    <add key="ITC Server UserPWD" value="admin" />
    <add key="Runtime Mode" value="DEBUG"/>
    <add key="WriteLog" value="true"/>
  </appSettings>
</configuration>