<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRAP.WebService.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IRAP.WebService.Client.Properties.Settings>
            <setting name="IRAP_WebService_Client_WS_IRAPUES_IRAPUESBase"
                serializeAs="String">
                <value>http://192.168.57.221:8015/IRAPUESWebService.asmx</value>
            </setting>
        </IRAP.WebService.Client.Properties.Settings>
    </applicationSettings>
</configuration>