<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RESTFulAddress" value="http://127.0.0.1:60911/RESTful"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceIRAPGlobal">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:16010/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />
    </client>
  </system.serviceModel>
</configuration>