<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WriteLog" value="true"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probling privatePath="bin" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp"          
                 maxReceivedMessageSize="2147483647"          
                 maxBufferSize="2147483647"          
                 maxBufferPoolSize="2147483647"          
                 closeTimeout="00:10:00"          
                 openTimeout="00:10:00"          
                 sendTimeout="00:10:00"          
                 receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicTransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <!-- RESTFul 风格的编程这里生效， maxReceivedMessageSize 决定每次上传的大小 -->
        <binding name="webBinding" 
                 crossDomainScriptAccessEnabled="true" 
                 maxBufferPoolSize="2147483647" 
                 maxReceivedMessageSize="2147483647" 
                 maxBufferSize="2147483647" 
                 transferMode="Streamed">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="GetMetaData" name="IRAPGeneralGateway.TIRAPGeneralWebAPIService">
        <endpoint address="" 
                  behaviorConfiguration="webBehavior" 
                  binding="webHttpBinding" 
                  bindingConfiguration="webBinding" 
                  contract="IRAPGeneralGateway.IIRAPWebAPI">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:55552"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GetMetaData">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri=""
             cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>