<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UpgradeURL" value="" />
    <add key="WriteLog" value="True" />
    <!--<add key="DBServer" value="."/>-->
    <add key="DBServer" value="192.168.57.221" />
    <!--<add key="DBServer" value="192.168.97.236" />-->
    <add key="DBPwd" value="du/vKmp/akT8APnzgAI4LA==" />
    <!--<add key="DBPwd" value="46j/nbrJaK02AgzSqGKxJw==" />-->
    <add key="DBUid" value="sa" />
    <add key="ScaningInertval" value="10" />
    <add key="MaxAFP" value="30" />
    <add key="MaxFragmentCount" value="60" />
    <add key="MaxIgnoreSacningTimes" value="2" />
    <add key="MaxScanningThreadCount" value="50" />
    <add key="MaxDefragThreadCount" value="30" />
    <add key="AutoDefrag" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>