<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Database Address" value="192.168.1.2"/>
    <add key="Database Name" value="IRAP"/>
    <add key="Database UserID" value="sa"/>
    <add key="Database UserPWD" value="CyprMes571"/>
  </appSettings>
</configuration>