<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <appSettings>
    <!--在窗体日志中出现错误信息时，是否播放报警声音-->
    <add key="SoundAlert" value="false"/>
    <add key="WriteLog" value="true"/>
    <!-- 以下是程序调试时使用 -->
    <add key="FileBuiltin" value="CAS"/>
    <add key="FormName" value="frmAndonEventConsultation"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceIRAPGlobal" 
                 maxBufferPoolSize="2147483647" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6553500" 
                        maxStringContentLength="2147483647"
                        maxArrayLength="6553500"
                        maxBytesPerRead="6553500"
                        maxNameTableCharCount="6553500"/>
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://192.168.101.253:16011/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />-->
      <endpoint address="net.tcp://192.168.97.197:16011/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />
      <!--<endpoint address="net.tcp://127.0.0.1:16010/IRAP" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceIRAPGlobal" contract="IRAPWCFClient.IServiceIRAPGlobal"
          name="NetTcpBinding_IServiceIRAPGlobal" />-->
    </client>
  </system.serviceModel>
</configuration>
